.container {
    box-shadow    : 2px 2px 15px rgba(119, 119, 119, 0.3);
    border-radius : 10px;
    width         : 240px;
    height        : 244px;
    display       : flex;
    flex-direction: column;
    overflow      : hidden;
    text-align    : left;
}

.avatar {
    width : 100%;
    height: 168px;
    border: none;
}

.textArea {
    display        : flex;
    flex-direction : column;
    align-items    : flex-start;
    height         : 76px;
    justify-content: center;
}

.title {
    padding-left: 20px;
    font-size   : 20px;
}

.subTitle {
    font-size   : 14px;
    padding-left: 20px;
    color       : rgba(0, 0, 0, 0.6);
}