.container {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    padding-left   : 410px;
    padding-right  : 420px;
}

.searchArea {
    width          : -webkit-fill-available;
    display        : flex;
    flex-direction : row;
    justify-content: center;
    flex-wrap      : wrap;
    padding-bottom : 40px;
}

.moreFilters {
    display: flex;
}

.searchArea div {
    margin: 10px;
}

.linkStyle {
    display       : flex;
    flex-direction: row;
    color         : #000;
    font-weight   : 600;
    cursor        : pointer;
    margin        : 10px;
}

@media (max-width: 768px) {
    .container {
        padding-left : 20px;
        padding-right: 10px;
    }

    .moreFilters {
        display: none;
    }
}