.container {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-around;
    padding        : 0 calc(20% - 100px)
}

.searchArea {
    width          : -webkit-fill-available;
    display        : flex;
    flex-direction : row;
    justify-content: space-around;
    flex-wrap      : wrap;
    padding-bottom : 60px;
}

.linkStyle {
    display       : flex;
    flex-direction: row;
    color         : #000;
    font-weight   : 600;
    cursor        : pointer;
}