.container {
    margin: 0;
}

.header {
    display        : flex;
    justify-content: center;
    padding        : 25px 0 5px 0;
}

@media (max-width: 768px) {
    .logo {
        width : 312px;
        height: 104px;
    }
}