.container {
    background-color: #fefefe;
    box-shadow      : 0 4px 10px 0 rgba(119, 119, 119, 0.15);
    height          : 100px;
    display         : flex;
    flex-direction  : row;
    justify-content : space-around;
    align-items     : center;
}

.linkStyle {
    display       : flex;
    flex-direction: row;
    color         : #000;
    font-weight   : 600;
}

.linkText {
    padding    : 0 10px;
    font-family: 'Montserrat', sans-serif;
}