.container {
    background-color: #fefefe;
    box-shadow      : 4px 0 10px 0 rgba(119, 119, 119, 0.15);
    height          : 60px;
    display         : flex;
    flex-direction  : row;
    justify-content : space-around;
    align-items     : center;
    position        : fixed;
    left            : 0;
    bottom          : 0;
    width           : 100%;
}