.inputText {
    height       : 52px;
    border-radius: 10px;
    font-size    : 14px;
    text-align   : left;
    border       : 1px solid rgba(0, 0, 0, 0.3);
    padding-left : 45px;
    top          : 0;
    margin-left  : -35px;
}

.inputTextLabel {
    position    : relative;
    width       : 24px;
    height      : 24px;
    top         : 7px;
    padding-left: 15px;
    z-index     : 999;
}