.container {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    padding       : 0 calc(20% - 100px)
}

.searchArea {
    display        : flex;
    justify-content: center;
    width          : 55vw;
    padding-bottom : 40px;
}

.searchArea div {
    margin: 10px;
}

.linkStyle {
    display       : flex;
    flex-direction: row;
    color         : #000;
    font-weight   : 600;
    cursor        : pointer;
}

.episodeList {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-wrap      : wrap;
}