.body {
    padding: 0 210px
}

.goBackDiv {
    position   : absolute;
    display    : flex;
    align-items: center;
    margin-top : 20px;
    cursor     : pointer;
}

.goBackButton {
    font-size  : 18px;
    margin-left: 10px;
}

.container {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    margin-top     : 15px;
}

.profilePicture {
    border-radius: 50%;
    width        : 300px;
    border       : 5px solid #F2F2F7;
}

.name {
    font-weight: 400;
    font-size  : 48px;
    line-height: 56px;
    align-items: center;
    text-align : center;
    color      : #081F32;
}

.infoArea {
    display: flex;
}

.title {
    font-size: 20px;
    color    : #8E8E93;
}

.scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height    : 370px;
}

.headerInformation {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    margin-top     : 30px;
}

.locationName {
    font-style : normal;
    font-weight: 400;
    font-size  : 36px;
    line-height: 42px;
    display    : flex;
    align-items: center;
    text-align : center;
    color      : #081F32;
}

.subContainer {
    display        : flex;
    justify-content: space-around;
    width          : 50%;
    margin-top     : 50px;
    margin-bottom  : 80px;
}

.subTitleContainer {
    display       : flex;
    flex-direction: column
}

.subTitle {
    font-style    : normal;
    font-weight   : 700;
    font-size     : 16px;
    line-height   : 24px;
    letter-spacing: 0.15px;
    color         : #081F32;
}

.residentsContainer {
    display: flex;
    width  : 100%;
}

.linkStyle {
    display       : flex;
    flex-direction: row;
    color         : #000;
    font-weight   : 600;
}

.container>div {
    padding: 10px 10px 10px 0;
}

.container {
    display        : flex;
    flex-wrap      : wrap;
    flex-direction : row;
    justify-content: left;
    height         : 550px;
    overflow-y     : scroll;
}